body {
    color: aqua;
    margin: 0;
}

h1 {
    font-weight: bold;
    color: white;
}
#header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: black;
    text-align: center;
}
#sidebar {
    position: fixed;
    width: 200px;
    top: 64px;
    bottom: 32px;
    background-color: gray;
    border-radius: 8px;
}
#footer {
    position: fixed;
    height: 32px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    text-align: center;
}
#footer > h2 {
    padding: 8px;
    margin: 8px;
}

#inner{
    margin: auto;
    left:0;
    right: 0;
    top: 80px;
    bottom: 0;
    position: fixed;
    text-align: center;   
}

#button1 {
    width: 100%;
}

button {
    background-color: aqua;
    border-radius: 8px;
}
